<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajoutter_ventes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vente.css') }}">
</head>
<body>
    <h1>Enregistrer une vente</h1>
    <form method="POST">
        <label>ID du produit :
            <input type="number" name="produit_id" required/><br>
        </label>: 
        
        <label>Quantité :
            <input type="number" name="quantite" required/><br>
        </label>
        
        <button type="submit">Enregistrer la vente</button>
    </form>
    <a href="{{ url_for ( 'bienvenue' ) }}" class="title">Retour à l'accueil</a>
    
</body>
</html>