<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fournisseurs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fournisseurs.css') }}">
</head>
<body>
    <a href="{{ url_for('bienvenue') }}" class="banner">Retour à l'accueil</a>
    <h1 class="titre-principal">LISTE DES FOURNISSEURS</h1>
    <ul>
        <li>fournisseur[1]</li>
        <li>fournisseur[2]</li>
        <li>fournisseur[3]</li>
        <li>fournisseur[4]</li>
        <li>fournisseur[5]</li>
        <li>fournisseur[6]</li>
        <li>fournisseur[7]</li>
    </ul>
</body>
</html>